	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: lightcyan;
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	background-image: url('../Assets/cielo.jpg');
	background-repeat: repeat-x;
	background-position: center;	
	background-attachment: fixed;
	background-size: cover;
}
.bold{
	font-weight: bold;
}

}
.banner{
	height:  100vh;
	overflow: hidden;
}
@keyframes zoom{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.2);
	}
}
.banner img{
	width: 60%;
	animation-name: zoom;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 5s;
}
.libros:hover{
	transform: scale(1.1);
}
#containerGrid{
	display: grid;
	min-height: 100vh;
	grid-template-rows: 80px auto 80px;

	/*min-height: 100vh;
	display: grid;
	justify-items: center;
	align-items: center;
	justify-content: start;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"cat header header"
	"cat content content"
	"cat footer none"
	grid-row-gap: 10px;
	grid-column-gap: 10 px;
	grid-template-rows: repeat(12,1fr);
	#header, #footer{
	background-color: #2c3357;
	color: #fff;justify-self: end;
	grid-area: header;
	color: green;
	#categorias{
	grid-area: cat;
	background-color: blue;
	grid-area: footer;
	background-color: orange;
	*#footer{
	font-size: 1.5rem;*/
	
}

.containerFlex{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1180px;
	justify-self: center;
	padding: 0 0;

	/*height: 300vh;
	grid-area: content;*/
}

.containerFlex .libros{
	width: 33.33333%;
	padding: 20px;
	box-sizing: border-box;
}
.containerFlex div{
	font-weight: 700;
	font-size: 2rem;
}
.containerFlex p{
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
}
.containerFlex img{
	width: 100%;
	max-width: 70px;
}
.containerFlex a{
	font-size: 1.2rem;
	margin-top: 30px;/*1em*/
}
.gris{
	color: white;
	display: inline-block;
	border-radius: 10px;
    padding: 0.8rem 1.9rem;
    background-color: #141114;
    font-size: 13px;
    margin-top: 1rem;
    border-radius: 10px;
    background: linear-gradient(to left, grey, #141114);
}

#header{
	width: 100%;
	height: 70px;
	background-color:#222222;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
}
#header p{
	color: #928e88;
	font-size: 1.3rem;
}

h1{
	color: #3d393e;
	font-size: 40 px;
	font-weight: 600;
	text-align: center;
}

.halcon {
	color: #141114;
	border-style: solid;
	border-color: #141114;
	border-width: 4px;
	text-align: center;
}


/*Box Model*/

*{
	margin: 0%;
	padding: 0%;
}

.Menu li{
	display: inline-block;
	margin: 0;
	width: 10%;
	height: auto;
}

.Menu li a{
	color: #e8e3da;
	font-size: 1.1rem;
}


.overflow{
	width: 500px;
	background-color: white;
	overflow-x: scroll;
}
.descrip{
	width: 1000px;
	background-color: steelblue;
}

#footer{
	width: 100%;
	height: auto;
	background-color: #222222;
	color: rgba(225, 220, 212, 1);
	font-size: 1.3rem;
	object-position: bottom;
	bottom: 0;
    margin: 0 auto;
}


@media all and (max-width: 768px){
	.containerFlex .libros{
		width: 100%;
	}
	.containerFlex div{
	font-size: 1rem;
	}
}